@import 'bootstrap/dist/css/bootstrap.css';

.form-text { font-size: 0.725em; color: var(--bs-gray-500); }
code { font-size: 1em; }

#__next {
	display: flex !important;
	flex-direction: column !important;
	height: 100% !important;
}

.table-responsive-height {
	overflow-y: auto;
	max-height: 50vh;
}

.table-sticky-header thead {
	position: sticky;
	top: 0;
	z-index: 1;
}

td p {
	margin: 0;
}